body {
    margin: 0;
    font-family: sans-serif;
}

#viewer {
    position: fixed;
    top: 0;
    height: 100%;
    background-color: red;
    display: flex;
    padding: 10px;
    gap: 8px;
}

#db_list_header {
    max-height: 30px;
    line-height: 1.1rem;
    padding: 8px;
}

#db_list {
    width: 200px;
    background-color: lightgray;
    display: flex;
    flex-direction: column;
}

#tree_root {
    flex-grow: 1;
    padding: 5px;
    background-color: darkgray;
}

#right_panel {
    background-color: darkgray;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

#table_view {
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

#table_view_header {
    max-height: 30px;
    left: 0;
    right: 0;
    position: sticky;
    line-height: 1.1rem;
    /* font-weight: bold; */
    padding: 8px;
    background-color: lightgray;
}

#table_container {
    overflow-y: scroll;
}

#table_container table {
    background-color: whitesmoke;
    border-collapse: collapse;
}

#table_container thead {
    position: sticky;
    top: 0;
    background-color: darkgray;
}

th {
    height: 40px;
}

td div {
    height: 40px;
    text-overflow: ellipsis;
    overflow: hidden;
}