#viewer {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: whitesmoke;
    display: flex;
    padding: 10px;
    padding-top: 20px;
}

#viewer * {
    all: revert;
}

#viewer .viewHeader {
    max-height: 20px;
    flex-basis: 20px;
    line-height: 1.1rem;
    padding: 8px;
    display: flex;
    align-items: center;
    gap: 8px;
    background-color: lightgray;
}

#viewer #close_btn {
    position: absolute;
    left: 10px;
    top: 0px;
    cursor: pointer;
}

#viewer #db_list {
    width: 300px;
    min-width: 180px;
    max-width: 750px;
    flex: 0 0 auto;
    padding: 5px;
    background-color: darkgray;
    display: flex;
    flex-direction: column;
}

#viewer #tree_root {
    flex-grow: 1;
    padding: 5px;
    background-color: darkgray;
}

#viewer #middle_panel {
    background-color: darkgray;
    flex: 1;
    flex-basis: 800px;
    display: flex;
    flex-direction: column;
}

#viewer #right_panel {
    width: 300px;
    min-width: 180px;
    max-width: 500px;
    flex: 0 0 auto;
    padding: 5px;
    background-color: darkgray;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

#viewer #right_panel > div {
    height: 33.33%;
}

#viewer .resizeDragHandler {
    width: 8px;
    flex-shrink: 0;
    cursor: col-resize;
}

#viewer .resizeDragHandler:hover::after {
    border: 2px solid gray;
    border-radius: 2px;
    content: '';
    display: block;
    height: 80%;
    margin: 0 auto;
    position: relative;
    top: 10%;
    width: 0;
}