body {
    margin: 0;
    font-family: sans-serif;
}

.viewHeader {
    max-height: 20px;
    flex-basis: 20px;
    line-height: 1.1rem;
    padding: 8px;
    background-color: lightgray;
}

#viewer {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: red;
    display: flex;
    padding: 10px;
    gap: 8px;
}

#db_list_header {
    max-height: 20px;
    flex-basis: 20px;
    line-height: 1.1rem;
    padding: 8px;
}

#db_list {
    width: 200px;
    background-color: lightgray;
    display: flex;
    flex-direction: column;
}

#tree_root {
    flex-grow: 1;
    padding: 5px;
    background-color: darkgray;
}

#middle_panel {
    background-color: darkgray;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

#right_panel {
    background-color: darkgray;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

#table_view {
    flex: 1;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

#table_view_header {
    max-height: 20px;
    flex-basis: 20px;
    left: 0;
    right: 0;
    position: sticky;
    line-height: 1.1rem;
    /* font-weight: bold; */
    padding: 8px;
    background-color: lightgray;
}

#table_container {
    overflow-y: scroll;
    flex: 1;
    display: flex;
}

#table_container table {
    background-color: whitesmoke;
    border-collapse: collapse;
    border-spacing: 0;
    flex: 1;
    flex-direction: column;
}

#table_container tbody {
    flex: 1;
    overflow-y: scroll;
    position: relative;
    /* display: block; */
}

#table_container th {
    height: 40px;
    position: sticky;
    top: 0;
    background-color: darkgray;
    z-index: 2;
}

td div {
    height: 40px;
    text-overflow: ellipsis;
    overflow: hidden;
}

#execute_sql_container {
    display: flex;
    flex-direction: column;
}

#execute_sql_textarea {
    width: 300px;
    height: 300px;
}