#explorer_tree {
    padding: 8px;
    padding-left: 20px;
    overflow-x: clip;
    overflow-y: auto;
    scrollbar-gutter: stable;
}

#explorer_tree > .db {
    position: relative;
    text-overflow: ellipsis;
    overflow-y: clip;
}

#explorer_tree .expand {
    position: absolute;
    top: 0;
    left: -15px;
    transition: all .3s ease-in;
}

#explorer_tree .expanded {
    transform: rotate(90deg);
}

#explorer_tree > .table {
    margin-left: 20px;
    height: 20px;
    cursor: pointer;
}

#explorer_tree > .table > div {
    text-overflow: ellipsis;
    overflow-x: hidden;
}

#explorer_tree > .table.selected {
    background-color: rgb(128, 128, 128);
}