#explorer_tree {
    padding: 8px;
    padding-left: 20px;
    overflow-y: auto;
    scrollbar-gutter: stable;
}

#explorer_tree .item {
    height: 20px;
    white-space: nowrap;
    text-overflow: ellipsis;
    background-color: darkgray;
}

#explorer_tree .item > .label {
    padding: 2px 4px;
    overflow: hidden;
    text-overflow: ellipsis;
}

#explorer_tree > .db {
    position: relative;
}

#explorer_tree .expand {
    position: absolute;
    top: 1px;
    left: -20px;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .1s ease-in;
}

#explorer_tree .expanded {
    transform: rotate(90deg);
}

#explorer_tree .table {
    margin-left: 20px;
    cursor: pointer;
}

#explorer_tree .table.selected {
    background-color: rgb(128, 128, 128);
}

#viewer #full_label {
    position: absolute;
    pointer-events: none;
    z-index: 99999;
    border: 1px solid gray;
    background-color: darkgray;
    padding: 2px 4px;
    border-radius: 2px;
}