#table_view {
    padding: 5px;
    flex: 1;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

#table_view_header {
    max-height: 20px;
    flex-basis: 20px;
    left: 0;
    right: 0;
    position: sticky;
    line-height: 1.1rem;
    padding: 8px;
    background-color: lightgray;
}

#table_view_header_title {
    padding: 8px;
}

#table_container {
    overflow-y: scroll;
    display: flex;
}

#table_container table {
    flex: 1;
    table-layout: fixed;
    width: 100%;
    background-color: whitesmoke;
    border-collapse: collapse;
    border-spacing: 0;
}

#table_container tbody {
    flex: 1;
    overflow-y: scroll;
    position: relative;
}

#table_container .columnHeaderCell {
    height: 60px;
    position: sticky;
    top: 0;
    background-color: darkgray;
    z-index: 2;
}

#table_container .columnFilterCell {
    padding-top: 5px;
}

#table_container td, #table_container .columnHeaderCell {
    border: 1px solid lightgray;
}

#table_container td.selected {
    background-color: lightslategray;
    color: white;
}

#table_container td div {
    height: 40px;
    box-sizing: border-box;
    display: -webkit-box;
    padding: 4px;
    text-overflow: ellipsis;
    overflow: hidden;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

#table_container .nullValue {
    font-style: italic;
    color: gray;
}